*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/* This is the start of the nav */
nav{
    height: 60px;
    width: 100%;
    background: rgb(67,142,255);
    background: linear-gradient(94deg, rgba(67,142,255,1) 29%, rgba(99,117,203,1) 66%);
    position: sticky;
    top: 0;
    z-index: 1;
}
.logo{
    float: left;
}
nav ul{
    list-style-type: none;
    float: right;
}
nav ul li{
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    margin: 20px 20px;
}
nav ul li:hover{
    color: hotpink;
}
nav ul li:active{
    color: crimson;
}
/* This is the end of the nav */

/* This is the start of the hero */
main{
    width: 100%;
    height: 900px;
    background-color: #fff;
    background:linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

section a{
    background-attachment: url('https://form.123formbuilder.com/6317835/contact-form');
    width: 600px;
    height: 500px;
}
.hero-text{
    color: #fff;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.company{
    font-size:50px;
}
.herop{
    font-size: 25px;
}